.all-cards {
    height: 100%;
    width: 95%;
    display: flex;
    gap: 40px;
    margin: 0 auto;
    overflow: auto;
    scroll-behavior: smooth;
    /* scroll-snap-type: x mandatory; */
}
.all-cards::-webkit-scrollbar{
    display: none;
}
.cards {
    height: 70%;
    width: 100%;
    padding: 10px;
    margin: auto 0;
    display: flex;
    gap: 30px;
    justify-content: space-between;
    border: 1px solid rgba(255, 255, 255, 0.449);
    border-radius: 10px;
}

.cards-info {
    width: 180px;
    padding: 10px;
    height: fit-content;
    margin-top: auto;
    display: flex;
    flex-direction: column;
    gap: 5px;
}

.rm-btn {
    padding: 8px 15px;
    width: 50%;
    background-color: green;
    border-radius: 10px;
    user-select: none;
    cursor: pointer;
    height: fit-content;
    margin-top: auto;
}

/* @media screen and (max-width: 1142px) {
    .c-btns{
        display: none;
    }
} */