.all-cards {
    height: 100%;
    width: 95%;
    display: flex;
    gap: 40px;
    margin: 0 auto;
    overflow: auto;
    scroll-behavior: smooth;
    /* scroll-snap-type: x mandatory; */
}
.all-cards::-webkit-scrollbar{
    display: none;
}
