.full-login{
    height: calc(100vh - 70px);
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.login-card{
    background-color: rgb(180, 174, 174);
    color: black;
    width: 50%;
    border-radius: 20px;
}

.l-card{
    display: flex;
    padding: 40px 20px;
    width: 100%;
    height: 100%;
}
.ll-card{
    width: 40%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 20px;
    background-color: rgb(27, 26, 26);
    color: white;
    padding: 20px;
}
.ll-card>div{
    font-size: 2.5rem;
    font-weight: 600;
    text-transform: capitalize;
}
.rl-card{
    width: 50%;
    margin: 0 auto;
}
.rl-card>form{
    display: flex;
    flex-direction: column;
    gap: 20px;
}
.rl-card>form>input{
    padding: 7px 10px;
    border-radius: 10px;
    outline: none;
    border: none;
}
.rl-card>form>input:last-child{
    background-color: rgb(29, 153, 29);
    color: white;
    width: fit-content;
    margin: 0 auto;
    padding: 10px 20px;
    cursor: pointer;
    font-weight: 550;
}
.rl-card>form>input:last-child:hover{
    background-color: rgb(25, 107, 25);
}

@media screen and (max-width: 1300px) {
   
    .login-card{
        margin-top: 20px;
        width: 90%;
        height: fit-content
    }
    .l-card{
        flex-direction: column;
        gap: 30px;
    }
    .ll-card{
        width: 95%;
        margin: 0 auto;
        padding: 15px;
    }
    .rl-card{
        width: 90%;
    }
    .ll-card>div{
        font-size: 1.5rem;
        font-weight: 500;
    }
}