.full-register{
    height: calc(100vh - 70px);
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.register-card{
    background-color: rgb(180, 174, 174);
    color: black;
    width: 50%;
    border-radius: 20px;
}

.l-cards{
    display: flex;
    padding: 40px 20px;
    width: 100%;
    height: 100%;
}
.lr-card{
    width: 40%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 20px;
    background-color: rgb(27, 26, 26);
    color: white;
    padding: 20px;
}
.lr-card>div{
    font-size: 2.5rem;
    font-weight: 600;
    text-transform: capitalize;
}
.rr-card{
    width: 50%;
    margin: 0 auto;
}
.rr-card>form{
    display: flex;
    flex-direction: column;
    gap: 20px;
}
.rr-card>form>input{
    padding: 7px 10px;
    border-radius: 10px;
    outline: none;
    border: none;
}
.rr-card>form>input:last-child{
    background-color: rgb(29, 153, 29);
    color: white;
    width: fit-content;
    margin: 0 auto;
    padding: 10px 20px;
    cursor: pointer;
    font-weight: 550;
}
.rr-card>form>input:last-child:hover{
    background-color: rgb(25, 107, 25);
}

.otp-popup{
    position: fixed;
    top: 0;
    left: 0;
    background-color: rgba(0, 0, 0, 0.699);
    width: 100%;
    height: 100%;
    display: none;
    justify-content: center;
    align-items: center;
}
.op-card{
    background-color: rgb(34, 34, 65);
    padding: 30px;
    display: flex;
    flex-direction: column;
    gap: 10px;
    border-radius: 10px;
}
.op-card>h2{
    margin: 0 auto;
}
.op-card>form{
    display: flex;
    flex-direction: column;
    gap: 20px;
}
.op-card>form>input:first-child{
    padding: 8px 15px;
    outline: none;
    border: none;
    border-radius: 20px;
}
.op-card>form>input:last-child{
    padding: 5px 10px;
    background-color: rgb(29, 153, 29);
    color: white;
    font-weight: 550;
    border: none;
    width: fit-content;
    margin: 0 auto;
    border-radius: 20px;
    cursor: pointer;
}
.op-card>form>input:last-child:hover{
    background-color: rgb(25, 107, 25);
}

@media screen and (max-width: 1300px) {
    .register-card{
        margin-top: 20px;
        width: 90%;
        height: fit-content
    }
    .l-cards{
        flex-direction: column;
        gap: 30px;
    }
    .lr-card{
        width: 95%;
        margin: 0 auto;
        padding: 15px;
    }
    .rr-card{
        width: 90%;
    }
    .lr-card>div{
        font-size: 1.5rem;
        font-weight: 500;
    }
}
@media screen and (max-width: 350px){
    .op-card{
        width: 90%;
    }
}